<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="conveyor_system_stand_alone" >
  
  <xacro:include filename="$(find cella1_descriptions)/urdf/elmo_linear_guide.urdf.xacro" />
  <xacro:elmo_linear_guide/>
  
  <link name="world" />
  
  <joint name="elmo_linear_guide_stator_joint" type="fixed">
    <parent link="world" />
    <child link = "elmo_linear_guide_stator" />
    <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
  </joint>
  
</robot>
